
/**
headerの設定用
*/
.parent{
    display: flex;
    width: auto;
}
 
.child {
    color: #fff;
    border: solid 1px black;
    text-align: center;
    line-height: 100px;
    width: 640px;
    height: 100px;
    background-color:white;
   }

/**
 aタグの設定
*/
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:red;
}
